.text-field-input {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    background-color: transparent;
    color: white;
}

.field-editor-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
