@import '~dragula/dist/dragula';
@import './custom-materialize.style';
@import './colors';

.account-operations {
    margin: 8px;
}

.aam-main-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    background-color: $panel_bg_color;
}

.aam-main-tab-header {
    width: 100%;

    background-color: $window_bg_color;
    color: white;
}

.aam-main-tab-container {
    flex-grow: 1;
    height: 0; /* Workaround to force the element to fill the remaining space without growing more than it */
}

.aam-vscrollable {
    display: block;

    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
}

.brand-logo {
    padding-left: 16px !important;
}

.flex-container {
    display: flex;
}

.flex-container.horizontal {
    flex-direction: row;
}

.flex-container.vertical {
    flex-direction: column;
}

/* Proportional flex items (from 0 to 24) */
@for $i from 1 through 24 {
    .flex-item.perc#{$i} {
        width: (100%/24)*$i;
    }
}

@for $i from 1 through 100 {
    .flex-item.fixed#{$i} {
        width: #{$i}px;
    }

    .flex-item.unfixed#{$i} {
        width: calc(100% - #{$i}px);
    }
}
