@import '~dragula/dist/dragula';
@import './custom-materialize.style';

.account-operations {
    margin: 8px;
}

.navbar-fixed {
    height: 128px /* need to specify the height for the tabs */
}

/* Make the title bar draggable (to move the window) */
.nav-wrapper {
    -webkit-app-region: drag;
}
/* except all the items inside it */
.nav-wrapper > * {
    -webkit-app-region: no-drag;
}

.brand-logo {
    padding-left: 16px !important;
}

.flex-container {
    display: flex;
}

.flex-container.horizontal {
    flex-direction: row;
}

.flex-container.vertical {
    flex-direction: column;
}

/* Proportional flex items (from 0 to 24) */
@for $i from 1 through 24 {
    .flex-item.perc#{$i} {
        width: (100%/24)*$i;
    }
}

@for $i from 1 through 100 {
    .flex-item.fixed#{$i} {
        width: #{$i}px;
    }

    .flex-item.unfixed#{$i} {
        width: calc(100% - #{$i}px);
    }
}
