@import '../styles/colors';

.aam-tabs {
    display: flex;
    flex-direction: row;

    margin: 5px 5px 0 5px;
    padding-left: 0;

    background-color: $window_bg_color;
    color: $text_color;

    cursor: default;

    list-style-type: none;

    user-select: none;
}

.aam-tab {
    min-width: 200px;
    height: 100%;

    padding: 5px 10px 10px 10px;
}

.aam-tab:hover {
    background-color: lighten($window_bg_color, 10%);
    transition: background-color 0.1s ease-in;
}

.aam-tab.selected {
    background-color: $toolbar_bg_color;
    transition: background-color 0.1s ease-in;
}
