@import '../styles/colors';

.aam-toolbar {
    display: flex;

    background-color: $toolbar_bg_color;
    color: $text_color;

    &.aam-toolbar-top {
        width: 100%;

        flex-direction: row;

        border-bottom: $toolbar_border_color solid 1px;
    }

    &.aam-toolbar-left {
        height: 100%;

        flex-direction: column;

        border-right: $toolbar_border_color solid 1px;
    }

    &.aam-toolbar-bottom {
        width: 100%;

        flex-direction: row;

        border-top: $toolbar_border_color solid 1px;
    }

    &.aam-toolbar-right {
        height: 100%;

        flex-direction: column;

        border-left: $toolbar_border_color solid 1px;
    }

    .aam-toolbar-item {
        margin: 2px;
    }

    /deep/ .aam-toolbar-button {
        padding: 5px;

        background-color: $toolbar_bg_color;

        cursor: default;

        transition: background-color 100ms ease-in;

        &:hover {
            background-color: lighten($toolbar_bg_color, 10%);
        }

        &:active {
            background-color: lighten($toolbar_bg_color, 20%);
        }
    }
}
