@import '../../styles/colors';

.aam-account-operation {
    position: relative;

    background-color: $panel_bg_color;

    color: $text_color;

    cursor: inherit;

    transition: background-color 0.1s ease-in-out;

    &.selected {
        background-color: mix($panel_bg_color, $primary_color, 80%);
    }

    &.odd {
        background-color: lighten($panel_bg_color, 1%);

        &.selected {
            background-color: mix(lighten($panel_bg_color, 1%), $primary_color, 80%);
        }
    }

    .handle {
        height: 100%;

        margin-top: 0;
        margin-bottom: 0;

        background-color: transparent;

        user-select: none;

        transition: background-color 0.1s ease-in-out;

        /* TODO Just for testing the viewport linked change detection detach/attach */
        &.viewport {
            background-color: red !important;
        }
    }

    &:hover {
        background-color: lighten($panel_bg_color, 5%);

        .handle {
            background-color: transparentize($primary_color, 0.8);
        }

        &.selected {
            background-color: lighten(mix($panel_bg_color, $primary_color, 80%), 5%);

            .handle {
                background-color: transparentize($primary_color, 0.7);
            }
        }
    }
}

/deep/ input {
    width: 100%;

    color: white;
}

/deep/ input[type="text"] {
    height: 100%;

    box-sizing: border-box;

    padding: 5px;

    background: transparent;
    border: transparent solid 1px;
}

/deep/ input.currency {
    text-align: right;
    font-family: 'Consolas', 'Courier', monospace;
    font-size: 14px;
}

/deep/ .aam-account-operation:not(:hover) .show-if-operation-hovered {
    display: none;
}
