.row {
    margin-top: 4px;
    margin-bottom: 4px;
}

.account-operation-card {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: white;
}

.handle {
    margin-top: 0;
    margin-bottom: 0;
    background-color: lightgrey;
}

.card-content {
    margin-top: 2px;
    padding: 0px;
    margin-right: 0px;
}

.card-action {
    padding: 0px;
    margin-left: 0px;
}

/deep/ input[type="text"] {
    box-sizing: border-box;
    border-bottom-color: transparent;
    margin: 5px;
    padding: 5px;
    height: auto;
}

/deep/ input[type="text"].valid:not(:focus) {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
}

.delete-btn {
    height: auto;
    color: grey !important;
    margin-right: 0px !important;
}

/deep/ input.currency {
    text-align: right;
    font-family: 'Consolas', 'Courier', monospace;
    font-size: 14px;
}
