@import '../styles/colors';

.dropdown-bt {
    position: relative;

    width: 100%;
    height: 100%;

    &.show {
        background-color: grey;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;

    padding: 0;
    margin: 0;

    font-size: 10pt;

    list-style-type: none;

    &.show {
        display: block;
    }

    /deep/ li {
        display: block;

        box-sizing: border-box;
        width: 100%;

        padding: 4px 10px 4px 10px;

        background-color: $toolbar_bg_color;
        color: $text_color;

        cursor: default;

        transition: background-color 100ms ease-in-out;

        &:hover {
            background-color: lighten($toolbar_bg_color, 10%);
        }

        &.selected {
            background-color: $primary_color;
            color: $primary_text_color;

            &:hover {
                background-color: lighten($primary_color, 10%);
            }
        }
    }
}
