<div aam-selectableList
    [aam-selectableModel]="account.operations"
    *ngIf="account"
    class="account-component flex-container vertical"
    columns-container [(columnsSizes)]="columnsSizes">
    <div class="columns-headers">
        <columns-container-row>
            <column-header-cell columnName="handle">
                <div class="column-header">Poignée</div>
            </column-header-cell>
            <column-header-cell columnName="collected">
                <div class="column-header">Encaissé</div>
            </column-header-cell>
            <column-header-cell columnName="renderer">
                <!-- TODO: Specific columns headers for each operation type -->
            </column-header-cell>
            <column-header-cell columnName="partialSum">
                <div class="column-header">Somme</div>
            </column-header-cell>
        </columns-container-row>
    </div>
    <div class="flex-item flex-item-grow">
        <div
            aam-vscrollable class="aam-vscrollable"
            [dragula]="'account-bag'"
            [dragulaModel]='account.operations'>
            <account-operation
                *ngFor="let operation of account.operations; let i = index; let odd = odd;"
                [accountOperation]="operation"
                [partialSums$]="partialSums$"
                [customClass]="odd ? 'odd' : 'even'"
                (valueChanged)="onValueChanged(account.operation, i)"
                [attr.data-operation-id]="i">
            </account-operation>
        </div>
    </div>
</div>
